/* General */
* {
  margin: 0;
}
body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}
h1 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}
fieldset {
  font-size: 1em;
  border-radius: var(--border-radius);
  background-color: white;
}
select,
input {
  cursor: pointer;
}
select {
  border-radius: var(--border-radius);
  padding: 0.5em 0.75em;
  background-color: white;
  font-size: inherit;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.75em;
}
a {
  color: var(--theme-black);
}
:root {
  --theme-dvrpc: #0078ae;
  --theme-dvrpc-accent: #366478;
  --theme-black: #505a5e;
  --theme-white: #f7f7f7;
  --theme-offwhite: #f2f2f2;
  --theme-offwhite2: #ebebf3;
  --theme-dark: #505a5e;
  --theme-dark2: #979797;
  --theme-pop: #004e76;
  --theme-emp: #54278f;

  --padding-half: 5px;
  --padding: 10px;
  --padding-2: 20px;

  --border-radius: 4px;
  --box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  --box-shadow-nav: 1px 2px 3px rgba(0, 0, 0, 0.3);
  --box-shadow-half: 0.5px 1px 1.5px rgba(0, 0, 0, 0.15);
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-end {
  justify-content: flex-end;
}
/* END General */

/* Modal */
.modal-toggle,
.close-modal {
  cursor: pointer;
  font-size: inherit;
}
.modal {
  position: fixed;
  display: none;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  position: relative;
  background: var(--theme-white);
  color: var(--theme-black);
  width: 60em;
  padding: var(--padding-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.modal-content p,
.modal-content span {
  margin-top: 0.25em;
}
.modal-section {
  width: 60em;
  margin: 0px 0px 0px 0px;
}
.modal-section h3 {
  color: var(--theme-dvrpc-accent);
}
.close-modal {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.5em;
}
.modal-content-subheader {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--theme-dvrpc);
}
.modal-hr {
  margin: var(--padding-2) auto;
  width: 45em;
}
#about_footer {
  background-color: #b9def0;
  border-radius: 4px;
  border: 1px solid transparent;
}
#about_footer p {
  margin: 0px 0px 0px 10px;
  padding: 5px;
}
/* END Modal */

/* Navbar */
nav {
  position: relative;
  height: 50px;
  width: calc(100% - var(--padding-2));
  padding: 0 var(--padding);
  background-color: var(--theme-dvrpc);
  color: var(--theme-white);
  box-shadow: var(--box-shadow-nav);
  z-index: 2;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.nav-btn {
  font-size: 1em;
  color: var(--theme-white);
  background: transparent;
  border: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}
.nav-vr {
  font-size: 1.5em;
  font-weight: 200;
}
#dvrpc-logo {
  display: block;
  width: 65px;
}
.project-logo {
  margin-right: var(--padding-half);
}
.mapboxgl-ctrl-dvrpc{
  height:100px;
}
/* END Navbar */

/* Main Webmap Area */
.main-content-wrapper {
  height: 100vh;
}
#regional-extent-img {
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 20px;
}
.lds-ring {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: 2;
}
.lds-ring-active {
  display: inline-block;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid var(--theme-dvrpc);
  border-radius: 50%;
  border-color: var(--theme-dvrpc) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END Main Webmap Area */

/* Sidebar */
.sidebar-wrapper {
	width: 33%;
	height: 100%;
	box-shadow: var(--box-shadow);
	z-index: 1;
	border-top-right-radius: var(--border-radius);
}
.sidebar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--theme-offwhite);
  color: var(--theme-black);
  box-shadow: var(--box-shadow);
  z-index: 1;
}
.sidebar-content {
  padding: var(--padding) var(--padding-2);
  height: calc(95% - var(--padding-2));
  overflow-y: auto;
}
.summary {
  font-weight: 700;
}
.details-ul {
  margin-bottom: var(--padding);
}
.sidebar-h2 {
  color: var(--theme-dvrpc);
  font-size: 1rem;
}
.sidebar-h3 {
  color: var(--theme-dvrpc-accent);
  font-size: 1.125em;
  font-weight: 400;
  margin-top: var(--padding-2);
}
.sidebar-h3:first-of-type {
  margin-top: var(--padding);
}
.sidebar-img {
  display: block;
  max-width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.sidebar-fieldset label {
  margin-right: 5px;
}
.infoLeft {
  box-shadow: var(--box-shadow-half);
  border-radius: var(--border-radius);
  padding: var(--padding) var(--padding-2);
}
.mcdName {
  display: none;
  color: var(--theme-white);
  border-radius: var(--border-radius);
  text-align: center;
  padding: var(--padding-half) 0;
  margin-bottom: var(--padding-half);
  background-color: var(--theme-dark);
  box-shadow: var(--box-shadow);
}
.mcdDetails {
  display: none;
}
.chart-wrapper {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.chart-subheader {
  /* background-color: var(--theme-dvrpc); */
  color: #f7f7f7;
  padding: 0.25rem 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 1.5px 0 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.POP {
  background-color: var(--theme-pop);
}
.EMP {
  background-color: var(--theme-emp);
}
.chart1 {
  max-height: 300px;
  display: inline-block;
  width: 100%;
}
.chartCO-header {
  margin-top:20px;
}
/* END Sidebar */

/* Map */
.map {
  position: relative;
  width: 67%;
  height: 100%;
}
.map-overlays-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.legend-form {
  z-index: 1;
  padding: var(--padding);
  box-shadow: var(--box-shadow-half);
  border-radius: var(--border-radius);
  background-color: white;
  margin-bottom: var(--padding);
}
.mapboxgl-popup-content {
  padding: var(--padding-2) var(--padding);
}
.popup-span {
  display: block;
}
.popup-span:not(:last-of-type) {
  border-bottom: 1px dotted var(--theme-black);
}
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions,
.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: var(--box-shadow);
}
.mapboxgl-ctrl-geocoder--input {
  cursor: text;
  color: var(--theme-black);
}
.mapboxgl-popup-content {
  border-radius: 4px;
  font-size: 1.2em;
  text-align: center;
}
/* END Map */

/* Legend Boxes */
.legend-container {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--theme-black);
  padding: var(--padding) 15px;
  width: max-content;
}
.legend-h3 {
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: var(--padding-half);
  align-self: flex-start;
  color: var(--theme-black);
}
.legend-box-item {
  margin-bottom: var(--padding);
  width: 100%;
}
.legend-icon {
  width: 20px;
  height: 20px;
  margin-right: var(--padding-half);
}
.legend-icon:last-child {
  margin-bottom: 0;
}
/* Score Colors */
.pop-1 {
  background: #dfeffb;
}
.pop-2 {
  background: #a6cfe1;
}
.pop-3 {
  background: #4d9dc0;
}
.pop-4 {
  background: #0078ae;
}
.pop-5 {
  background: #004e76;
}
.popABS-1 {
  background: #cccccc;
}
.popABS-2 {
  background: #dfeffb;
}
.popABS-3 {
  background: #a6cfe1;
}
.popABS-4 {
  background: #4d9dc0;
}
.popABS-5 {
  background: #0078ae;
}
.popPER-1 {
  background: #dfeffb;
}
.popPER-2 {
  background: #a6cfe1;
}
.popPER-3 {
  background: #4d9dc0;
}
.popPER-4 {
  background: #0078ae;
}
.emp-0 {
  background: #cccccc;
}
.emp-1 {
  background: #dadaeb;
}
.emp-2 {
  background: #bcbddc;
}
.emp-3 {
  background: #9e9ac8;
}
.emp-4 {
  background: #756bb1;
}
.emp-5 {
  background: #54278f;
}

/* End Score Colors */

/* Footer */
footer {
  height: calc(5% - var(--padding-2));
  width: calc(100% - var(--padding-2));
  padding: var(--padding);
  background-color: white;
  color: var(--theme-black);
}
/* END Footer */
/* Table */
/* ------------------
 styling for the tables 
   ------------------   */
.crashtable {
  border-collapse: collapse;
  text-align: center;
  width: 95%;
  margin: 15px;
}
th {
  text-align: left;
  font-weight: normal;
  font-size: 80%;
}
td {
  font-weight: bold;
  font-size: 80%;
}
.crashtable .odd {
  background: #ededed;
  border: 1px solid #bdbdbd;
}
.crashtable .even {
  border-right: 1px solid #bdbdbd;
}

.crashtable .odd th {
  padding: 4px;
  border-bottom: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
}

.crashtable .odd td {
  border: 1px solid #bdbdbd;
  padding: 2px;
}

.crashtable .even th {
  padding: 4px;
  border-bottom: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
}
.crashtable .even td {
  border: 1px solid #bdbdbd;
  padding: 2px;
}

/* END Footer */
